@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/Content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/Content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/Content/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <link href="/Content/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style>
        .box-content {
            padding: 10px 0;
        }

        .float-e-margins .btn {
            margin-bottom: 0;
        }
        .modal-backdrop {
            z-index: 940 !important
        }
        .modal {
            z-index: 950 !important;
        }
    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInDown">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <h4 class="example-title">
                                列表
                                <a class="btn btn-primary " style="float:right;" href="javascript:location.reload();" title="页面刷新"><i class="fa fa-refresh"></i> </a>
                            </h4>
                            <div class="example">
                                <div class="box-content form-inline">
                                    <div class="topbtnbar">
                                        <input type="text" class="form-control" id="KeyWord" onkeyup="if (event.keyCode == '13') $('#btnSearch').click()" placeholder="关键字">
                                        <button type="button" id="btnSearch" class="btn btn-success btn-sm " onclick="Search()">
                                            查询
                                        </button>
                                        <button type="button" id="btnAdd" class="btn btn-info btn-sm" data-toggle="modal" data-target="#DivAdd">
                                            新增
                                        </button>
                                    </div>
                                </div>
                                <table id="table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    @*<div id="editContent">
        <script id="editor1" type="text/plain" style="min-height:200px;">
        </script>
    </div>*@
    <script src="/Content/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/js/content.min.js?v=1.0.0"></script>
    <script src="/Content/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Content/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/Content/js/plugins/layer/layer.min.js"></script>
    <script src="~/Content/js/plugins/layer/extend/layer.ext.js"></script>
    <script src="/Content/js/config.js"></script>
    <script src="/Content/js/ajax.js"></script>
    <script src="/Content/js/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Template/HAdmin/lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script src="~/Template/HAdmin/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
    <script src="~/Template/HAdmin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    @Html.Partial("_NewsInfoAdd")
</body>
</html>
<script>
    var ue1 = UE.getEditor('editor1');
   $(function () {
        $('#table').bootstrapTable({
            method: 'POST',
            url: "@Url.Action("NewsInfoList")",
            height: 500,
            pagination: true,
            striped: true,
            pageSize: 10,
            pageNumber: 1,
            pageList: [10, 25, 50, 100, 200],
            queryParams: QueryParams,
            contentType: "application/x-www-form-urlencoded",
            sidePagination: "server",
            //showColumns: true, // 开启自定义列显示功能
            columns: [
             {
                field: 'Name',
                title: '新闻名',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'Tag',
                title: '标签',
                align: 'center',
                valign: 'middle'
                },
                //{
                //field: 'MainImg',
                //title: '图片',
                //align: 'center',
                //valign: 'middle',
                //formatter: function (value, row, index) {
                //    return '<img style="cursor: pointer;"  class="myImgReview" src = "' + value + '" width="100px;" />';
                //},
                //events: operateEvents
                //},
                //{
                //field: 'Infos',
                //title: '内容',
                //align: 'center',
                //valign: 'middle',
                //formatter: function (value, row, index) {
                //    var html = '';
                //    if (isNullOrEmpty(value)) {
                //        html = '-';
                //    }
                //    else {
                //        html = value.substr(0,10)+'...';
                //    }
                //    return '<a class="editContent">' + html + '</a>';
                //},
                //events: operateEvents
                //},
                {
                    field: 'PublishDate',
                    title: '发布时间',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        return ChangeDt(value);
                    }
                }, {
                    field: 'Index',
                    title: '排序',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                    return value;
                }
                }, {
                field: 'PublishName',
                title: '发布人',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'IsPublish',
                title: '是否发布',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return value==0 ? '否' : '是';
                }
            },
            {
                field: 'Id',
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    var operate = '';
                    //if (row.IsPublish == 0) {
                    //    operate += '<button  class="publish btn btn-primary btn-sm"><i class="fa fa-arrow-up"></i> 发布</button> ';
                    //}
                    //else {
                    //    operate += '<button  class="publish btn btn-success btn-sm"><i class="fa fa-arrow-down"></i> 取消发布</button> ';
                    //}
                    operate += '<button  class="edit btn btn-warning btn-sm"><i class="fa fa-edit"></i> 修改</button> ';
                    operate += '<button  class="delete btn btn-danger btn-sm"><i class="fa fa-trash"></i> 删除</button>';
                    return operate;
                },
                events: operateEvents
            }
            ]
        });
    });
    function QueryParams(parma) {
        parma["KeyWord"] = $("#KeyWord").val();
        offset = parma["offset"] = parma.offset;
        limit = parma["limit"] = parma.limit;
        return parma;
    }
    //查询按钮
    function Search() {
        $('#table').bootstrapTable("refresh");
    }
     //列事件
    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            GetInfo(row);
        },
        'click .myImgReview': function (e, value, row, index) {
            if (!isNullOrEmpty(value)) value = value.replace('small', 'large');
           
            layer.photos({
                photos: {
                    "data": [{ "src": value }]
                } //格式见API文档手册页
                , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
            });
        },
        'click .editContent': function (e, value, row, index) {
            window.open('/website/NewsInfo?id=' + row.Id);
        },
        'click .publish': function (e, value, row, index) {
            //window.open('/website/NewsInfo?id=' + row.Id);
        },
        'click .delete': function (e, value, row, index) {
            layer.confirm('确定删除[' + row.Name + ']？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var url = "@Url.Action("NewsInfoStatus")";
                var Data = {};
                Data.id = row.Id;
                Data.isDelete = row.IsDeleted == 0 ? 1 : 0;
                ajaxGet.post(Data, url, function (data) {
                    layer.msg(data.Message, { icon: 1 }); Search(); 
                }, function (data) { ExceptionDeal(data); })
               // layer.msg('的确很重要', { icon: 1 });
            }, function () {
                
            });
            //window.open('/website/NewsInfo?id=' + row.Id);
        },
        
    };
      //修改
    function GetInfo(json) {
        $('#DivAdd').modal("show");
        $("#hiddenId").val(json.Id);
        $('#Name').val(json.Name);
        $('#Tag').val(json.Tag);
        $('#MainImg').val(json.MainImg);
        $('#Infos').val(json.Infos);
        $('#PublishDate').val(ChangeDt(json.PublishDate));
        $('#PublishName').val(json.PublishName);
        $('#IsDeleted').val(json.IsDeleted);
        $('#CreateDate').val(ChangeDt(json.CreateDate));
        $('#CreateBy').val(json.CreateBy);
        $('#ModifyBy').val(json.ModifyBy);
        $('#GUID').val(json.GUID);
        $('#Index').val(json.Index);
        $('#IsPublish').val(json.IsPublish);
        $('#desc').val(json.Desc);
        UE.getEditor('editor').setContent(json.Infos);
    }
</script>