
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/Template/HAdmin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/Template/HAdmin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/Template/HAdmin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/Template/HAdmin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/Template/HAdmin/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>修改密码</title>
    <link href="/Template/HAdmin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page-container">
        <form class="form form-horizontal" id="form-article-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>旧密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" value="" placeholder="旧密码" id="OldPwd" name="">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" value="" placeholder="新密码" id="NewPwd" name="">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>重复密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" value="" placeholder="重复密码" id="ReNewPwd" name="">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onClick="save();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                </div>
            </div>
        </form>
    </div>


    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="/Template/HAdmin/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/Template/HAdmin/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/Template/HAdmin/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="/Template/HAdmin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/Template/HAdmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/Template/HAdmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/Template/HAdmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/Template/HAdmin/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <script src="/Content/js/ajax.js"></script>
    <script src="/Content/js/UploadJs/upload.js"></script>
</body>
</html>
<script>
   
     var submit = false;
     function save() {

         if (submit) {
             layer.msg("保存中...请耐心等待", { icon: 2 });
             return;
         }
         var Data = {};
         var OldPwd = $("#OldPwd").val();//旧密码不能为空
         if (OldPwd == "") { layer.msg("旧密码不能为空", { icon: 2 }); return; }
         Data.OldPwd = OldPwd;
         var NewPwd = $("#NewPwd").val();//密码
         if (NewPwd.length <6) { layer.msg("密码最少为6位数", { icon: 2 }); return; }
         Data.NewPwd = NewPwd;
         var ReNewPwd = $("#ReNewPwd").val();//重复密码
         if (ReNewPwd != NewPwd) { layer.msg("重复密码不一致", { icon: 2 }); return; }

         var url = "/member/ModifyAccountPwd";
         ajaxGet.post(Data, url, function (data) { AddSuccess(data); }, function (data) { ExceptionDeal(data); })
         submit = true;
     }
     function AddSuccess(json) {
         if (json.IsSuccess) {
             layer.msg(json.Message, { icon: 1 });
             setTimeout(function () {
                 parent.location.href = "/website/login";
                 //layer_close();
                
             }, 1500);
             return;
         }
         layer.msg(json.Message, { icon: 2 }); return;
     }
</script>