<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="DataConnection" value="Data Source=47.105.115.222;Initial Catalog=Company;User ID=sa;Password=eYo2018;" />
  <add key="eeeYoooCompany" value="Data Source=123.57.58.157;Initial Catalog=eeeYoooCompany;User ID=shenbo;Password=shenbo@!2018;" />
  <add key="AESKey" value="BcWAqZbhe1kcj13dXLau4KC+eIiwkEB+05MR6dKwcHI=" />

  <add key="IsUseWeChat" value="0" />
  <add key="IsOnline" value="0" />
  <!-- 聚合配置 -->
  <add key="JuHeUrl" value="http://v.juhe.cn/sms/send" />
  <add key="JuHeTplId" value="9471" />
  <add key="JuHeKey" value="2ea3038ca4351f93580da41ed46be5d4" />
  <!-- 微信跳转地址 -->
  <add key="WeChatUrl" value="http://union.eeeyooo.com/WeChat/AutoAuth?redirect={0}" />
  <add key="DomainUrl" value="http://company.eeeyooo.com/" />
  <!-- eeeYooo 配置 -->
  <add key="eeeYoooId" value="10001" />
  <add key="eeeYoooName" value="eeeyooo" />
  <!-- 起始页 配置 -->
  <add key="FirstRoute" value="WebSite" />
</appSettings>  