@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "智能控制系统开发_上海UI界面设计_智能酒店系统-eeeYooo";
    Page.Key = "智能控制系统开发,上海UI界面设计,智能酒店系统";
    Page.Desc = "上海璨胤信息科技有限公司是一家专注于智能控制系统和智能酒店系统开发的互联网公司，eeeYooo专注于移动数字开发与运维,为孵化的团队提供上海UI界面设计产品-开发-运营 的一站式技术技术解决方案。";
    Page.AccountName = ViewBag.AccountName;
}
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">eeeYooo服务</a></li>
        <li><a href="#">项目开发</a></li>
    </ul>
</div>