@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";

    Page.Title = "开发流程_智能家居APP_智能控制系统开发-eeeYooo";
    Page.Key = "智能家居APP,智能控制系统开发";
    Page.Desc = "上海璨胤信息科技有限公司致力于互联网智能家居APP开发和智能控制系统开发,公司位于上海市青浦区朱家角镇，eeeYooo旨在携手初创企业,为企业提供技术与服务,与企业共同面对风险与挑战";

    Page.AccountName = ViewBag.AccountName;
}
}

@*<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">开发流程</a></li>
        <li><a href="#">开发流程图</a></li>
    </ul>
</div>*@
<div class="page_main">
    <div class="m_banner_img">
        <div class="nav_box" style="position: absolute; top: auto;">
            <ul class="nav_main">
                <li class="nav_item"><span class="nav_txt">技术合伙</span></li>
                <li class="nav_item"><span class="nav_txt">项目运营</span></li>
                <li class="nav_item"><span class="nav_txt">产品研发</span></li>
                <li class="nav_item"><span class="nav_txt">UI设计</span></li>
                <li class="nav_item"><span class="nav_txt">前端开发</span></li>
                <li class="nav_item"><span class="nav_txt">移动端开发</span></li>
                <li class="nav_item"><span class="nav_txt">测试上线</span></li>
            </ul>
        </div>
    </div>
    <ul class="m_main_group">
        <li class="item_box" id="partnership">
            <div class="item">
                <h4 class="item_title">技术合伙<span>- 半个星期</span></h4>
                <div class="desc">
                    <img class="left_img" src="img/icon/index/process1.png">
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 1</span>
                            <span class="right_txt">项目接触和需求整理</span>
                        </div>
                        <p class="desc_main bor_left">
                            <span class="desc_txt">初步的项目交流</span>
                            <span class="desc_txt">完成项目需求</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item">
                                产品总监
                            </li>
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                        </ul>
                    </div>
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 2</span>
                            <span class="right_txt">需求管理和时间规划</span>
                        </div>
                        <p class="desc_main">
                            <span class="desc_txt">项目团队规划</span>
                            <span class="desc_txt">项目进度</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item">
                                产品总监
                            </li>
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="item_box" id="operation">
            <div class="item">
                <h4 class="item_title">项目运营<span>- 半个星期</span></h4>
                <div class="desc">
                    <img class="left_img" src="img/icon/index/process2.png">
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 3</span>
                            <span class="right_txt">商业合作确认</span>
                        </div>
                        <p class="desc_main">
                            <span class="desc_txt">确认合作</span>
                            <span class="desc_txt">股权投资意向书</span>
                            <span class="desc_txt">项目思维导图</span>
                            <span class="desc_txt">项目可行性分析</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item">
                                产品总监
                            </li>
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="item_box" id="research">
            <div class="item">
                <h4 class="item_title">产品研发<span>- 1个星期</span></h4>
                <div class="desc">
                    <img class="left_img" src="img/icon/index/process3.png">
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 4</span>
                            <span class="right_txt">项目联系和需求整合</span>
                        </div>
                        <p class="desc_main">
                            <span class="desc_txt">项目思维导图</span>
                            <span class="desc_txt">项目的原型</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                            <li class="tag_item green_box">
                                UI设计师
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="item_box" id="UI_Design">
            <div class="item">
                <h4 class="item_title">UI设计<span>- 2-3个星期</span></h4>
                <div class="desc">
                    <img class="left_img" src="img/icon/index/process4.png">
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 5</span>
                            <span class="right_txt">项目设计</span>
                        </div>
                        <p class="desc_main">
                            <span class="desc_txt">用户界面设计</span>
                            <span class="desc_txt">项目进度安排</span>
                            <span class="desc_txt">项目思维导图</span>
                            <span class="desc_txt">项目原型设计</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item green_box">
                                UI设计师
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="item_box" id="UI_Development">
            <div class="item">
                <h4 class="item_title">前端开发<span>- 3-4个星期</span></h4>
                <div class="desc" style="padding-bottom:110px;">
                    <img class="left_img" src="img/icon/index/process5.png">
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 6</span>
                            <span class="right_txt">项目前端切图</span>
                        </div>
                        <p class="desc_main bor_left">
                            <span class="desc_txt">前端开发工程师开发</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                            <li class="tag_item yellow_box">
                                前端工程师
                            </li>
                            <li class="tag_item green_box">
                                UI设计师
                            </li>
                        </ul>
                    </div>
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 7</span>
                            <span class="right_txt">页面优化测试</span>
                        </div>
                        <p class="desc_main">
                            <span class="desc_txt">手机兼容性测试</span>
                            <span class="desc_txt">优化测试</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                            <li class="tag_item yellow_box">
                                前端工程师
                            </li>
                            <li class="tag_item green_box">
                                UI设计师
                            </li>
                            <li class="tag_item red_box">
                                测试工程师
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="item_box" id="develop">
            <div class="item">
                <h4 class="item_title">移动端开发<span>- 3-6个星期</span></h4>
                <div class="desc">
                    <img class="left_img" src="img/icon/index/process6.png">
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 8</span>
                            <span class="right_txt">系统开发</span>
                        </div>
                        <p class="desc_main">
                            <span class="desc_txt">系统数据库开发</span>
                            <span class="desc_txt">逻辑梳理与开发</span>
                            <span class="desc_txt">前后台数据对接与调试</span>
                            <span class="desc_txt">第三方数据对接与调试</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                            <li class="tag_item yellow_box">
                                前端工程师
                            </li>
                            <li class="tag_item dark_red_box">
                                后端工程师
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="item_box" id="testing">
            <div class="item">
                <h4 class="item_title">测试上线<span>- 1-2个星期</span></h4>
                <div class="desc">
                    <img class="left_img" src="img/icon/index/process7.png">
                    <div class="right_summary">
                        <div class="desc_title">
                            <span class="left_txt">步骤 9</span>
                            <span class="right_txt">测试与发布</span>
                        </div>
                        <p class="desc_main">
                            <span class="desc_txt">系统封装与测试</span>
                            <span class="desc_txt">服务配置与管理</span>
                            <span class="desc_txt">系统上线与测试</span>
                        </p>
                        <ul class="tag_group">
                            <li class="tag_item blue_box">
                                项目经理
                            </li>
                            <li class="tag_item yellow_box">
                                前端工程师
                            </li>
                            <li class="tag_item dark_red_box">
                                后端工程师
                            </li>
                            <li class="tag_item red_box">
                                测试工程师
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!-- footer -->
</div>