@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "计费模式_智能民宿_技术孵化管理-eeeYooo";
    Page.Key = "智能民宿,技术孵化管理";
    Page.Desc = "eeeYooo专注于移动数字开发运营与智能物联智能名宿开发运营,作为一家初创企业的技术孵化管理合作伙伴,为孵化器提供“产品开发和运营”一站式技术解决方案。";

    Page.AccountName = ViewBag.AccountName;
}
}

@*<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">计费模式</a></li>
        <li><a href="#">eeeYooo服务费</a></li>
    </ul>
</div>*@

<div class="page_main internet_hatch_price">
    <div class="m_banner_img">
        <div class="nav_box_bg s-fixed" style="position: fixed; top: 0px;">
            <div class="nav_top_bg">
                <ul class="nav_main_top">
                    <li class="nav_main_item j_top_nav">
                        <div class="top_box"></div>
                        <div class="bottom_txt">健身物联网套餐</div>
                    </li>
                    <li class="nav_main_item j_top_nav j_top_nav2 s_cehcked">
                        <div class="top_box"></div>
                        <div class="bottom_txt">价格细化</div>
                    </li>
                </ul>
            </div>
            <div class="nav_main_bottom">
                <ul class="nav_bottom_list nav_bottom_list1" style="display: none;">
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">套餐一</span>
                    </li>
                    <li class="nav_bottom_item active">
                        <span class="nav_bottom_txt">套餐二</span>
                    </li>
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">套餐三</span>
                    </li>
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">套餐四</span>
                    </li>
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">套餐五</span>
                    </li>
                </ul>
                <ul class="nav_bottom_list nav_bottom_list2" style="display: block;">
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">软件服务价格</span>
                    </li>
                    <li class="nav_bottom_item active">
                        <span class="nav_bottom_txt">硬件模块-门禁价格</span>
                    </li>
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">硬件模块-电子锁价格</span>
                    </li>
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">硬件模块-智能手环价格</span>
                    </li>
                    <li class="nav_bottom_item">
                        <span class="nav_bottom_txt">硬件模块-教练终端价格</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page_main_box">
        <div class="page_main_item page_main_item1" style="display: none;">
            <h4 class="item_title_outer">健身物联网</h4>
            <h5 class="item_desc_outer">
                帮助企业与创业者实现商业模式物联网一体化，并结合微信等营销商城平台，以及客户使用体验，不断进行迭代与创新，帮助品牌站在互联网潮流第一线。
            </h5>
            <ul class="m_main_group">
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="left_box">
                                <h4 class="title">
                                    套餐一
                                    <br>
                                    基础门禁互联网
                                </h4>
                                <p class="inner_txt">
                                    15万一次性开发安装费<br>
                                    +1.2万每年版本迭代费用<br>
                                    +0.6万服务器及基础防火墙<br>
                                    +0.2万/店/年硬件监测与维护（可选）<br>
                                    +门禁硬件，每套35000元
                                </p>
                                <p class="inner_txt">
                                    版本迭代包括原有功能持续调试与优化<br>
                                    以及包括相关软件系统的开发与完善<br>
                                    不包括硬件及硬件相关系统
                                </p>
                                <div class="bottom_txt">
                                    <span class="left_txt">20.5万</span>
                                    /套
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon1.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            会员功能包括：<br>
                                            微信端会员CRM系统<br>
                                            微信端会员消费支付系统<br>
                                            微信端企业商城功能<br>
                                            微信端教练预约平台功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon2.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件功能包括：<br>
                                            门禁扫码功能<br>
                                            门禁自动结算功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon3.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            商户功能包括：<br>
                                            网页版商户端后台管理<br>
                                            网页版门店后台管理<br>
                                            网页版在线商城管理<br>
                                            网页版教练管理<br>
                                            微信版教练接单管理
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon4.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            迭代服务包括：<br>
                                            现有系统月度测试与调试<br>
                                            现有系统更新与优化，<br>
                                            现有系统的局部模块开发与升级<br>
                                            新系统（模块内部）开发与升级
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon5.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件监测与维护：<br>
                                            每年每店一次上门监测维护硬件<br>
                                            <em>注：硬件保修期1年，不包括人为损坏</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon6.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            商户功能包括：<br>
                                            网页版商户端后台管理<br>
                                            网页版门店后台管理<br>
                                            网页版在线商城管理<br>
                                            网页版教练管理<br>
                                            微信版教练接单管理
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="left_box">
                                <h4 class="title">
                                    套餐二
                                    <br>
                                    门禁+锁柜物联网
                                </h4>
                                <p class="inner_txt">
                                    20万一次性开发安装费<br>
                                    +1.2万每年版本迭代费用<br>
                                    +0.6万服务器及基础防火墙<br>
                                    +0.4万/店/年硬件监测与维护(可选)<br>
                                    +门禁，每套35000元<br>
                                    +电子锁，每个150元<br>
                                </p>
                                <p class="inner_txt">
                                    版本迭代包括原有功能持续调试与优化<br>
                                    以及包括相关软件系统的开发与完善<br>
                                    不包括硬件及硬件相关系统
                                </p>
                                <div class="bottom_txt">
                                    <span class="left_txt">25.315万</span>
                                    /套
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon1.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            会员功能包括：<br>
                                            微信端会员CRM系统<br>
                                            微信端会员消费支付系统<br>
                                            微信端企业商城功能<br>
                                            微信端教练预约平台功能<br>
                                            微信锁柜开锁密码功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon2.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件功能包括：<br>
                                            门禁扫码功能<br>
                                            门禁自动结算功能<br>
                                            智能锁柜功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon3.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            商户功能包括：<br>
                                            网页版商户端后台管理<br>
                                            网页版门店后台管理<br>
                                            网页版在线商城管理<br>
                                            网页版锁柜管理功能<br>
                                            网页版教练管理<br>
                                            微信版教练接单管理
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon4.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            迭代服务包括：<br>
                                            现有系统月度测试与调试<br>
                                            现有系统更新与优化，<br>
                                            现有系统的局部模块开发与升级<br>
                                            新系统（模块内部）开发与升级
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon5.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件监测与维护：<br>
                                            每年每店一次上门监测维护硬件<br>
                                            <em>注：硬件保修期1年，不包括人为损坏</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon6.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            服务器与防火墙：<br>
                                            阿里云共享服务器<br>
                                            8核16G 20MB带宽<br>
                                            300GB空间<br>
                                            阿里云基础防火墙
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="left_box">
                                <h4 class="title">
                                    套餐三<br>
                                    门禁+锁柜+教练终端物联网
                                </h4>
                                <p class="inner_txt">
                                    25万一次性开发安装费<br>
                                    +1.2万每年版本迭代费用<br>
                                    +0.6万服务器及基础防火墙<br>
                                    +0.4万/店/年硬件监测与维护(可选)<br>
                                    +门禁，每套35000元<br>
                                    +电子锁，每个150元<br>
                                    +教练终端，每个1800元
                                </p>
                                <p class="inner_txt">
                                    版本迭代包括原有功能持续调试与优化<br>
                                    以及包括相关软件系统的开发与完善<br>
                                    不包括硬件及硬件相关系统
                                </p>
                                <div class="bottom_txt">
                                    <span class="left_txt">25.315万</span>
                                    /套
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon1.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            会员功能包括：<br>
                                            微信端会员CRM系统<br>
                                            微信端会员消费支付系统<br>
                                            微信端企业商城功能<br>
                                            微信端教练预约平台功能<br>
                                            微信锁柜开锁密码功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon2.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件功能包括：<br>
                                            门禁扫码功能<br>
                                            门禁自动结算功能<br>
                                            智能锁柜功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon3.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            商户功能包括：<br>
                                            网页版商户端后台管理<br>
                                            网页版门店后台管理<br>
                                            网页版在线商城管理<br>
                                            网页版锁柜管理功能<br>
                                            网页版教练管理<br>
                                            移动终端教练接单管理
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon4.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            迭代服务包括：<br>
                                            现有系统月度测试与调试<br>
                                            现有系统更新与优化，<br>
                                            现有系统的局部模块开发与升级<br>
                                            新系统（模块内部）开发与升级
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon5.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件监测与维护：<br>
                                            每年每店一次上门监测维护硬件 <br>
                                            <em>注：硬件保修期1年，不包括人为损坏</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon7.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            移动设备：<br>
                                            每年每店一次上门监测维护硬件 <br>
                                            <em>注：移动设备损坏，回收检测</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon6.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            服务器与防火墙：<br>
                                            阿里云共享服务器<br>
                                            8核16G 20MB带宽<br>
                                            300GB空间<br>
                                            阿里云基础防火墙
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="left_box">
                                <h4 class="title">
                                    套餐四<br>
                                    门禁+锁柜+教练终端+智能会员手环物联网
                                </h4>
                                <p class="inner_txt">
                                    30万一次性开发安装费<br>
                                    +1.2万每年版本迭代费用<br>
                                    +0.6万服务器及基础防火墙<br>
                                    +0.4万/店/年硬件监测与维护(可选)<br>
                                    +门禁，每套35000元<br>
                                    +电子锁，每个150元<br>
                                    +教练终端，每个1800元<br>
                                    +智能手环，每个250元<br>
                                    +智能手环sim卡，100元/个/年
                                </p>
                                <p class="inner_txt">
                                    版本迭代包括原有功能持续调试与优化<br>
                                    以及包括相关软件系统的开发与完善<br>
                                    不包括硬件及硬件相关系统
                                </p>
                                <div class="bottom_txt">
                                    <span class="left_txt">35.93万</span>
                                    /套
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon1.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            会员功能包括：<br>
                                            微信端会员CRM系统<br>
                                            微信端会员消费支付系统<br>
                                            微信端企业商城功能<br>
                                            微信端教练预约平台功能<br>
                                            微信锁柜开锁密码功能<br>
                                            微信会员运动社区功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon2.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件功能包括：<br>
                                            门禁扫码功能<br>
                                            门禁自动结算功能<br>
                                            智能锁柜功能<br>
                                            智能手环
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon3.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            商户功能包括：<br>
                                            网页版商户端后台管理<br>
                                            网页版门店后台管理<br>
                                            网页版在线商城管理<br>
                                            网页版锁柜，运动社区管理功能<br>
                                            网页版教练管理<br>
                                            移动终端教练接单管理
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon4.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            迭代服务包括：<br>
                                            现有系统月度测试与调试<br>
                                            现有系统更新与优化，<br>
                                            现有系统的局部模块开发与升级<br>
                                            新系统（模块内部）开发与升级
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon5.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件监测与维护：<br>
                                            每年每店一次上门监测维护硬件<br>
                                            <em>注：硬件保修期1年，不包括人为损坏</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon7.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            移动设备：<br>
                                            每年每店一次上门监测维护硬件 <br>
                                            <em>注：移动设备损坏，回收检测</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon6.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            服务器与防火墙：<br>
                                            阿里云共享服务器<br>
                                            8核16G 20MB带宽<br>
                                            300GB空间<br>
                                            阿里云基础防火墙
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="left_box">
                                <h4 class="title">
                                    套餐五<br>
                                    门禁+锁柜+教练终端+智能会员手环<br>
                                    +门店移动终端物联网
                                </h4>
                                <p class="inner_txt">
                                    35万一次性开发安装费<br>
                                    +1.2万每年版本迭代费用<br>
                                    +0.6万服务器及基础防火墙<br>
                                    +0.4万/店/年硬件监测与维护（可选） <br>
                                    +门禁，每套35000元<br>
                                    +电子锁，每个150元<br>
                                    +教练终端，每个1800元<br>
                                    +智能手环，每个250元<br>
                                    +智能手环sim卡，100元/个/年<br>
                                    门店终端系统使用安卓平板系统<br>
                                    设备可以自行采购
                                </p>
                                <p class="inner_txt">
                                    版本迭代包括原有功能持续调试与优化<br>
                                    以及包括相关软件系统的开发与完善<br>
                                    不包括硬件及硬件相关系统
                                </p>
                                <div class="bottom_txt">
                                    <span class="left_txt">25.315万</span>
                                    /套
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon1.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            会员功能包括：<br>
                                            微信端会员CRM系统<br>
                                            微信端会员消费支付系统<br>
                                            微信端企业商城功能<br>
                                            微信端教练预约平台功能<br>
                                            微信锁柜开锁密码功能<br>
                                            微信会员运动社区功能
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon2.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件功能包括：<br>
                                            门禁扫码功能<br>
                                            门禁自动结算功能<br>
                                            智能锁柜功能<br>
                                            智能手环
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon3.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            商户功能包括：<br>
                                            安卓版商户端后台管理<br>
                                            安卓版门店后台管理<br>
                                            安卓版在线商城管理<br>
                                            安卓版锁柜，运动社区管理功能<br>
                                            安卓版教练管理<br>
                                            移动终端教练接单管理
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right_box">
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon4.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            迭代服务包括：<br>
                                            现有系统月度测试与调试<br>
                                            现有系统更新与优化，<br>
                                            现有系统的局部模块开发与升级<br>
                                            新系统（模块内部）开发与升级
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon5.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            硬件监测与维护：<br>
                                            每年每店一次上门监测维护硬件<br>
                                            <em>注：硬件保修期1年，不包括人为损坏</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon7.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            移动设备：<br>
                                            每年每店一次上门监测维护硬件 <br>
                                            <em>注：移动设备损坏，回收检测</em>
                                        </p>
                                    </div>
                                </div>
                                <div class="inner_box">
                                    <div class="icon_box">
                                        <img src="img/internet_hatch_price/sm_icon6.png">
                                    </div>
                                    <div class="txt_box">
                                        <p class="inner_txt">
                                            服务器与防火墙：<br>
                                            阿里云共享服务器<br>
                                            8核16G 20MB带宽<br>
                                            300GB空间<br>
                                            阿里云基础防火墙
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="page_main_item page_main_item2" style="display: block;">
            <h4 class="item_title_outer">价格细化</h4>
            <h5 class="item_desc_outer">
                软、硬件价格归类
            </h5>
            <ul class="m_main_group">
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="item_desc_title">
                                软件服务价格
                            </div>
                            <div class="item_desc_main">
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon1.png">
                                        <span>平台开发费</span>
                                        <em>10万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">物联网规划与设计</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">店长管理权限系统开发</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">会员CRM开发</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">教练预约系统开发</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">企业端OA系统开发 （ios APP）</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">在线商城系统开发</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门店管理系统开发 （ios APP)</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">产品配送管理系统开发</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">微信系统植入开发</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">安全监控日志开发</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon2.png">
                                        <span>年度技术运维费</span>
                                        <em>1.2万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">系统版本迭代更新</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">第三方渠道服务接入支持</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">软件系统测试与优化</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">第三方企业服务平台支持</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon3.png">
                                        <span>年度技术运维费</span>
                                        <em>1万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">阿里云共享服务器1台 （4核 8G 500GB 5MB）</p>
                                        </li>
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">阿里云基础安全系统（web基础安全防护）</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="item_desc_title">
                                硬件模块-门禁价格
                            </div>
                            <div class="item_desc_main">
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon4.png">
                                        <span>门禁改装安装费</span>
                                        <em>5万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁系统接入与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁闸机现场安装</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁蓝牙与GPRS安装开发与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁闸机现场系统调试与测试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁系统与门店管理对接与调试</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon3.png">
                                        <span>硬件检修费（每次）</span>
                                        <em>1000元</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">硬件系统现场监测</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">蓝牙及对接系统现场监测</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">软件系统现场监测</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon5.png">
                                        <span>数据对接运维费（每年/店）</span>
                                        <em>2000万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">GPRS终端数据sim芯片服务</p>
                                        </li>
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">每年1次软硬系统与数据调试监测</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon6.png">
                                        <span>门禁闸机与门禁锁定制费</span>
                                        <em>3.5万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">材质:国标304镍铬不锈钢</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">304不锈钢厚度：整机钢板厚2.0mm</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">外形:1400*200*1000(mm)</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">通行人数：40人/分钟</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">闸杆转向:单向*2、双向*1</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">摆臂顶端离地面：900mm </p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">通道宽度:1150(mm)</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">摆臂底端离地面：500mm</p>
                                        </li>
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">单个摆臂长度：555mm</p>
                                        </li>
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">自动控制，带方向指示，断电自动开闸</p>
                                        </li>
                                        <li class="point_item wid100">
                                            <p class="txt multi_line">
                                                内含机箱，机芯、电源、电源箱、空开、闸机控制板,蓝牙，nfc，二维码识别无线网络等
                                            </p>
                                        </li>
                                    </ul>
                                    <img class="desc_img" src="img/internet_hatch_price/img1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="item_desc_title">
                                硬件模块-电子锁价格
                                <span>（不包括柜子）</span>
                            </div>
                            <div class="item_desc_main">
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon7.png">
                                        <span>电子锁开发安装费</span>
                                        <em>5万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁系统接入与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁闸机现场安装</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁蓝牙与GPRS安装开发与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁闸机现场系统调试与测试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">门禁系统与门店管理对接与调试</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon5.png">
                                        <span>数据对接运维费（每年/店）</span>
                                        <em>2000元（可选）</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">硬件系统现场监测</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">蓝牙及对接系统现场监测</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">软件系统现场监测</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon3.png">
                                        <span>硬件检修费（每次）</span>
                                        <em>1000元</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">GPRS终端数据sim芯片服务</p>
                                        </li>
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">每年1次软硬系统与数据调试监测</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon7.png">
                                        <span>电子锁</span>
                                        <em>150元/个</em>
                                    </h4>
                                    <img class="desc_img" src="img/internet_hatch_price/img2.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="item_desc_title">
                                硬件模块-智能手环价格
                            </div>
                            <div class="item_desc_main">
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon8.png">
                                        <span>手环开发改装费用</span>
                                        <em>5万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环系统接入与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环现场安装</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环蓝牙与GPRS安装开发与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环现场系统调试与测试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环系统与门店管理对接与调试</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon5.png">
                                        <span>数据对接运维费（每年/个）</span>
                                        <em>100元（可选）</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">GPRS终端数据sim芯片服务（联通/移动）</p>
                                        </li>
                                        <li class="point_item wid100">
                                            <span class="point ct"></span>
                                            <p class="txt">每年1次线上软硬系统与数据调试监测</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon3.png">
                                        <span>硬件检修费（每次，需产品快递回库房）</span>
                                        <em>50元</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">硬件系统入库监测</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">蓝牙及对接系统入库监测</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">软件系统入库监测</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon8.png">
                                        <span>智能手环</span>
                                        <em>250元/个</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item wid33">
                                            <span class="point ct"></span>
                                            <p class="txt">运动监控</p>
                                        </li>
                                        <li class="point_item wid33">
                                            <span class="point ct"></span>
                                            <p class="txt">心跳监控</p>
                                        </li>
                                        <li class="point_item wid33">
                                            <span class="point ct"></span>
                                            <p class="txt">Nfc芯片</p>
                                        </li>
                                        <li class="point_item wid33">
                                            <span class="point ct"></span>
                                            <p class="txt">血压监控</p>
                                        </li>
                                        <li class="point_item wid33">
                                            <span class="point ct"></span>
                                            <p class="txt">Gprs芯片</p>
                                        </li>
                                        <li class="point_item wid33">
                                            <span class="point ct"></span>
                                            <p class="txt">蓝牙芯片</p>
                                        </li>
                                    </ul>
                                    <img class="desc_img" src="img/internet_hatch_price/img3.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item_box">
                    <div class="item">
                        <div class="item_desc">
                            <div class="item_desc_title">
                                硬件模块-教练终端价格
                            </div>
                            <div class="item_desc_main">
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon9.png">
                                        <span>教练终端开发费用</span>
                                        <em>5万</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环系统接入与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环现场安装</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环蓝牙与GPRS安装开发与调试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环现场系统调试与测试</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">手环系统与门店管理对接与调试</p>
                                        </li>
                                    </ul>
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon3.png">
                                        <span>硬件检修费（每次）</span>
                                        <em>100元</em>
                                    </h4>
                                    <ul class="point_list">
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">硬件回收检修</p>
                                        </li>
                                        <li class="point_item">
                                            <span class="point ct"></span>
                                            <p class="txt">非外部原因故障，保修1年</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="left_box">
                                    <h4 class="title_box">
                                        <img class="icon" src="img/internet_hatch_price/sm_title_icon9.png">
                                        <span>教练终端设备费用</span>
                                        <em>2000元/台</em>
                                    </h4>
                                    <img class="desc_img" src="img/internet_hatch_price/img4.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- footer -->
</div>