
@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "技术孵化管理_智能办公系统_上海硬件开发公司-eeeYooo";
    Page.Key = "技术孵化管理,智能办公系统,上海硬件开发公司,智能控制系统开发,智能硬件app,微信公众号界面设计";
    Page.Desc = "上海璨胤信息科技有限公司是一家上海硬件开发公司，eeeYooo专注于移动数字开发运营与智能办公系统开发运营,作为一家初创企业的技术孵化管理合作伙伴,为孵化器提供“产品开发和运营”一站式技术解决方案。";

    Page.Open = "open";
    Page.AccountName = ViewBag.AccountName;
}
<style>
    #look {
        position: absolute;
        bottom: 25px;
        /* text-align: center; */
        color: #fff;
        border: 1px solid #fff;
        padding: 5px;
        /*background:#fff;*/
        border-radius: 10px;
    }
        #look:hover {
            background: #F4A137
        }
</style>
<!-- Block Spotlight1  -->
<section class="so-spotlight1 ">
    <div class="container">
        <div class="row">
            <div id="yt_header_right" class="col-lg-offset-3 col-lg-9 col-md-12">
                <div class="slider-container ">

                    <div id="so-slideshow" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 two-block">
                        <div class="module no-margin text-center">
                            @*<div class="module slideshow no-margin">*@
                                @*<div class="item">
                                    <a><img src="/website/image/demo/slider/slider-2.png" alt="slider2" class="img-responsive"></a>
                                </div>*@
                                <div class="item" style="cursor:pointer;">
                                    <a href="/WebSite/FirstSign">
                                        @*<span id="look" class="btn">点击查看</span>*@
                                        <img src="/WebSite/img/banner.png" class="img-responsive" />
                                    </a>
                                </div>
                            </div>
                            <div class="loadeding"></div>
                        </div>
                   <div class="module col-md-4  hidden-sm hidden-xs three-block ">
                        <div class="modcontent clearfix">
                            <div class="htmlcontent-block">
                                <ul class="htmlcontent-home">
                                    <li>
                                        <div class="banners">
                                            <div>
                                                <a>
                                                    <img src="/WebSite/img/r_banner.jpg" alt="智能物联网专区" />
                                                    @*<img src="/WebSite/img/internet_hatch_price/img3.jpg" alt="banner1">*@
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    @*<li>
                                        <div class="banners">
                                            <div>
                                                <a> <img src="/WebSite/img/internet_hatch_price/img2.jpg" alt="banner2"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banners">
                                            <div>
                                                <a> <img src="/WebSite/img/internet_hatch_price/img1.jpg" alt="banner1"></a>
                                            </div>
                                        </div>
                                    </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>

                    @*<div class="module hidden-xs col-sm-12 four-block">
                        <div class="modcontent clearfix">
                            <div class="policy-detail">
                                <div class="banner-policy">
                                    <div class="policy policy1">
                                        <a> 
                                        <span class="ico-policy">&nbsp;</span> 
                                        90 day <br> money back
                                        </a>
                                    </div>
                                    <div class="policy policy2"><a> <span class="ico-policy">&nbsp;</span> In-store exchange </a></div>
                                    <div class="policy policy3"><a> <span class="ico-policy">&nbsp;</span> lowest price guarantee </a></div>
                                    <div class="policy policy4"><a> <span class="ico-policy">&nbsp;</span> shopping guarantee </a></div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Block Spotlight1  -->
<!-- Main Container  -->
<div class="main-container container">
    <div class="row" >
        <div class="col-sm-12">
            <img style="margin:20px 0;" src="/WebSite/img/zengjiabanneer.jpg" alt="与您一起创业" />
        </div>
    </div>
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="module tab-slider titleLine">
                <h3 class="modtitle">我们的项目</h3>
                <div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
                    <div class="loadeding"></div>
                    <div class="ltabs-wrap">
                        <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                            <!--Begin Tabs-->
                            <div class="ltabs-tabs-wrap">
                                <span class="ltabs-tab-selected">Jewelry &amp; Watches	</span> <span class="ltabs-tab-arrow">▼</span>
                            </div>
                            <!-- End Tabs-->
                        </div>
                        <div class="ltabs-items-container">
                            <!--Begin Items-->
                            <div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10">
                                <div class="ltabs-items-inner ltabs-slider ">
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/medela.png" alt="美德乐" class="img-responsive" />
                                                    <img src="/website/img/qrcode/medela-code.jpg" alt="美德乐" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>美德乐-medela</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/WebSite/img/qrcode/grandmaket.jpg" alt="grandmaket;" class="img-responsive" />
                                                    <img src="/WebSite/img/qrcode/grandmaket-code.jpg" alt="grandmaket" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                                @*<span class="label label-new">Sale</span>*@
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>GrandMarKet</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/WebSite/img/qrcode/yokeasport.png" alt="悦刻体育" class="img-responsive" />
                                                    <img src="/WebSite/img/qrcode/yokeasport-code.jpg" alt="悦刻体育" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>悦刻体育</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/dancebox.png" alt="街舞" class="img-responsive" />
                                                    <img src="/website/img/qrcode/dancebox-code.jpg" alt="街舞" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>街舞</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/meipei.png" alt="美培会" class="img-responsive" />
                                                    <img src="/website/img/qrcode/meipei-code.jpg" alt="美培会" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                                @*<span class="label label-new">Sale</span>*@
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>美培会</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/MOHME.png" alt="Mohome" class="img-responsive" />
                                                    <img src="/website/img/qrcode/MOHME-code.png" alt="Mohome" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                                @*<span class="label label-new">Sale</span>*@
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>Mohome</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/MOHME.png" alt="chefworks" class="img-responsive" />
                                                    <img src="/website/img/qrcode/MOHME-code.png" alt="chefworks" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                                <span class="label label-new">Sale</span>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>chefworks</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/youzi.jpg" alt="友咨" class="img-responsive" />
                                                    <img src="/website/img/qrcode/youzi-code.jpg" alt="友咨" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>友咨</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/yunying.png" alt="AFA韵颖体育" class="img-responsive" />
                                                    <img src="/website/img/qrcode/yunying-code.jpg" alt="AFA韵颖体育" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>AFA韵颖体育</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/kou.png" alt="口牙" class="img-responsive" />
                                                    <img src="/website/img/qrcode/kou-code.jpg" alt="口牙" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>口牙</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>

                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/LMT.jpg" alt="LaMaisonTraiteur" class="img-responsive" />
                                                    <img src="/website/img/qrcode/LMT-code.jpg" alt="LaMaisonTraiteur" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>LaMaisonTraiteur</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Items-->
                    </div>

                </div>
            </div>
            <div class="module tab-slider titleLine">
                <h3 class="modtitle">我们的案例</h3>
                <div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
                    <div class="loadeding"></div>
                    <div class="ltabs-wrap ">
                        <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                            <!--Begin Tabs-->
                            <div class="ltabs-tabs-wrap">
                                <span class="ltabs-tab-selected">Jewelry &amp; Watches	</span> <span class="ltabs-tab-arrow">▼</span>
                              
                            </div>
                            <!-- End Tabs-->
                        </div>
                        <div class="ltabs-items-container">
                            <!--Begin Items-->
                            <div class="ltabs-items  ltabs-items-selected items-category-1 grid" data-total="10">
                                <div class="ltabs-items-inner ltabs-slider ">
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/nopic.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/img/qrcode/nopic.jpg"" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                                <span class="label label-new">New</span>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>Wings</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/nopic.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/img/qrcode/nopic.jpg" " alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                                <span class="label label-new">New</span>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>保鉴通</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/img/qrcode/nopic.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/img/qrcode/nopic.jpg" " alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                                <!--Sale Label-->
                                                <span class="label label-new">New</span>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>YoooSpace</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--End Items-->


                    </div>

                </div>
            </div>


            @*<div class="module tab-slider titleLine">
            <h3 class="modtitle">上线项目</h3>
            <div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
                <div class="loadeding"></div>
                <div class="ltabs-wrap">
                    <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                        <div class="ltabs-tabs-wrap">
                        </div>
                    </div>
                    <div class="ltabs-items-container">
                        <!--Begin Items-->
                        <div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10">
                            <div class="ltabs-items-inner ltabs-slider ">
                                <div class="ltabs-item product-layout">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container second_img ">
                                                <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="caption">
                                                <h4><a>GrandMarKet</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>悦刻体育</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>街舞</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>美培会</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>Mohme</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>chefworks</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>友资</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>AFA韵颖体育</a></h4>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>口牙</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>美德乐</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="/website/image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img src="/website/image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a>LaMaisonTraiteur</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End Items-->
                    </div>
                </div>

            </div>
        </div>*@


        </div>
    </div>
</div>

<!-- //Main Container -->
<!-- Preloading Screen -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloading Screen -->
