@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "开发模式_智能家居设计_微信公众号界面设计-eeeYooo";
    Page.Key = "智能家居设计,微信公众号界面设计";
    Page.Desc = "上海璨胤信息科技有限公司致力于互联网智能家居设计和微信公众号界面设计,eeeYooo核心业务包括项目前期 分析,规划,数字平台搭建与物联网模块开发,项目上线后有效运营,并予以可行性的市场推广建议。";

    Page.AccountName = ViewBag.AccountName;
}
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">开发模式</a></li>
        <li><a href="#">内场开发</a></li>
    </ul>
</div>