@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "上线流程_智能家居开发_小程序开发定制-eeeYooo";
    Page.Key = "智能家居开发,小程序开发定制";
    Page.Desc = "eeeYooo技术孵化,旨在携手初创企业,为企业提供智能家居开发和小程序开发定制,与企业共同面对风险与挑战,支持微小中型企业团队从0到1的成长,帮助新型互联网企业提供智能物联网体系的搭建与硬件支持。";
    Page.AccountName = ViewBag.AccountName;
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">上线流程</a></li>
        <li><a href="#">上线说明</a></li>
    </ul>
</div>