@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "计费模式_智能民宿_技术孵化管理-eeeYooo";
    Page.Key = "智能民宿,技术孵化管理";
    Page.Desc = "eeeYooo专注于移动数字开发运营与智能物联智能名宿开发运营,作为一家初创企业的技术孵化管理合作伙伴,为孵化器提供“产品开发和运营”一站式技术解决方案。";

    Page.AccountName = ViewBag.AccountName;
}
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">计费模式</a></li>
        <li><a href="#">源码计费模式</a></li>
    </ul>
</div>