@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "交付流程_智能办公系统_智能展厅-eeeYooo";
    Page.Key = "智能办公系统,智能展厅";
    Page.Desc = "eeeYooo专注于移动数字开发运营与智能物联开发运营,作为一家初创企业的技术合作伙伴,为孵化器提供“智能开发系统和智能展厅产品开发和运营”一站式技术解决方案。联系地址：上海市青浦区阁游路258号211室";

    Page.AccountName = ViewBag.AccountName;
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">交付流程</a></li>
        <li><a href="#">交付方式</a></li>
    </ul>
</div>