@{
    Layout = "~/Layout/_LayoutWebSite.cshtml";
    Page.Title = "智能控制系统开发_上海UI界面设计_智能酒店系统-eeeYooo";
    Page.Key = "智能控制系统开发,上海UI界面设计,智能酒店系统";
    Page.Desc = "上海璨胤信息科技有限公司是一家专注于智能控制系统和智能酒店系统开发的互联网公司，eeeYooo专注于移动数字开发与运维,为孵化的团队提供上海UI界面设计产品-开发-运营 的一站式技术技术解决方案。";
    Page.AccountName = ViewBag.AccountName;
}
}

@*<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">eeeYooo服务</a></li>
        <li><a href="#">成熟的项目运维</a></li>
    </ul>
</div>*@

<div class="page_main">
      <div class="m_banner_img">
        <div class="nav_box" style="position: absolute; top: auto;">
          <ul class="nav_main">
            <li class="nav_item"><span class="nav_txt">技术支持</span></li>
            <li class="nav_item"><span class="nav_txt">营销顾问</span></li>
            <li class="nav_item"><span class="nav_txt">运营顾问</span></li>
            <li class="nav_item"><span class="nav_txt">法律顾问</span></li>
            <li class="nav_item"><span class="nav_txt">财务顾问</span></li>
          </ul>
        </div>
      </div>
      <ul class="m_main_group">
        <li class="item_box" id="technical">
          <div class="item pb_80">
            <h4 class="item_title">技术支持</h4>
            <div class="members_txt">
              <p>eeeYooo专注于移动数字开发和运营，作为一家初创企业的技术合作伙伴，为孵化器提供“产品开发和运营”一站式技术解决方案。</p>
              <p>核心业务包括项目前期分析、规划、数字平台建设和功能模块开发，以及启动后的有效运行。</p>
              <p>技术eeeYooo提供开发、云配置、第三方平台数据对接、操作改进功能、优化兼容性、监控、维修、测试等，并提供市场推广和推广建议的可行性。</p>
            </div>
          </div>
        </li>
        <li class="item_box" id="marketing_consultant">
          <div class="item pb_80">
            <h4 class="item_title">营销顾问</h4>
            <div class="members_img_txt">
              <img class="ct" src="img/icon/members/img1.png">
              <div class="members_txt">
                <h3 class="title">Mindy Lv</h3>
                <p>
                  10年的市场经验。
                  <br>
                  它为全球最大的4A集团亚太总部提供服务。
                  <br>
                  世界前10大工业企业。
                  <br>
                  亚洲、非洲、南美和中东地区的经验丰富。
                </p>
                <p class="grey_txt">
                  从营销战略规划、销售跟踪、战略实施、品牌建设和管理等方面，对企业在销售和品牌意识方面的帮助进行了改进，并根据企业的相关数据进行分析和建议，并逐步为企业推荐合适的营销技术。
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="item_box" id="operational">
          <div class="item pb_80">
            <h4 class="item_title">运营顾问</h4>
            <div class="members_img_txt members_txt_img">
              <img class="ct" src="img/icon/members/img2.png">
              <div class="members_txt">
                <h3 class="title">Jeoffrey Yang</h3>
                <p>
                  12年以上市场营销经验。
                  <br>
                  8年以上团队管理经验。
                  <br>
                  3年微信产品技术操作经验。
                  <br>
                  4年电子商务产品运营经验。
                  <br>
                  8年主要产品电子商务产品运营经验。
                  <br>
                  有60多个商务合作产品运营经验。
                </p>
                <p class="grey_txt">
                  eeeyooo集团的专业运营顾问支持从业务规划到业务中心的所有流程。
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="item_box" id="legal">
          <div class="item pb_80">
            <h4 class="item_title">法律顾问</h4>
            <div class="members_img_txt members_txt_box">
              <h3 class="title">eeeyooo集团将是您的法律顾问，帮助企业解决以下问题:</h3>
              <div class="inner_box">
                <img class="ct" src="img/icon/members/img3.png">
                <p>
                  1.回答法律意见，依法提供意见或提供法律意见。
                  <br>
                  2.协助起草、制定、审查、修改合同、章程等法律文书。
                  <br>
                  3.根据客户要求参与咨询、谈判、法律分析和论证。
                  <br>
                  4.由客户签署、送达或接受法律文件。
                  <br>
                  5.应要求，客户已经、面临或可能发生纠纷、法律推理、提出解决方案、通过谈判发出的通告、发表法律意见或参与非诉讼谈判、协调、调解。
                  <br>
                  6.根据客户要求教授法律实践知识。
                  <br>
                  7.监督和修订与客户有关的法律法规。
                  <br>
                  8.代理诉讼、调解或仲裁。
                  <br>
                  9.帮助公司客户建立和完善规章制度。
                  <br>
                  10.处理双方约定的其他法律事项。
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="item_box" id="financial">
          <div class="item">
            <h4 class="item_title">财务顾问</h4>
            <div class="members_img_txt members_txt_box">
              <h3 class="title">日常内容营销</h3>
              <div class="inner_box inner_box2">
                <img class="ct" src="img/icon/members/img4.png">
                <p>
                  1. 尽职调查，撰写甲方股票改革的可行性报告;
                  <br>
                  2. 制定甲方股权结构和股份公司的计划;
                  <br>
                  3. 制定党的财政调整计划;
                  <br>
                  4. 协助选择审计、评估、律师等中介机构，完成符合要求的审计、评估和法律报告;
                  <br>
                  5. 协助选择保荐人(指导经纪人)提供前期的财务咨询服务。
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- footer -->
    </div>